<?xml version="1.0" encoding="UTF-8"?>

<launch>
  
  <!-- tf -->
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom_tf" args="0 0 0 0 0 0 map odom 5"/>
  <node pkg="surena_choreonoid" type="odom_to_robot_base_publisher" name="odom_to_robot_base_tf"/>
  <!-- camera orientation mode (quaternion) options: -->
  <arg name="0_deg_cam_orientation" default="0.4998274 -0.5001739 -0.5001739 0.4998247"/>
  <arg name="30_deg_cam_orientation" default="0.3535492 -0.3535492 -0.6123865 0.6123632"/>
  <arg name="45_deg_cam_orientation" default="0.2705873 -0.2705873 -0.6533011 0.6532707"/>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_link_tf" args="0 0 0.7 $(arg 30_deg_cam_orientation) base_link camera_link 5"/>
  <node pkg="tf" type="static_transform_publisher" name="camera_link_to_camera_tf" args="0 0 0 0 0 0 camera_link camera 5" />


  <!-- choreonoid -->
  <!-- Project options: Surena-IV-room , Surena-V-room -->
  <arg name="project" default="Surena-IV-room"/> 
  <node pkg="choreonoid_ros" name="choreonoid" type="choreonoid"
        args="$(find surena_choreonoid)/project/$(arg project).cnoid --start-simulation"/>

  
  <!-- Robot keyboard teleop -->
  <node pkg="keyboard_teleop" name="keyboard_teleop_node" type="keyboard_teleop_node"/>


  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find surena_choreonoid)/launch/surena_rviz.rviz"/>


</launch>
